server:
  port: 8762
eureka:
  instance:
    prefer-ip-address: true
  client:
    healthcheck:
      enabled: false
    serviceUrl:
      defaultZone: http://127.0.0.1:8761/eureka/
spring:
  application:
    name: data-center


